.container{
    width: 600px;
    height: 300px;
    background-color:yellow;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    grid-template-columns: repeat(3,1fr) ;
    /*this is my row and column-gap*/
    row-gap: 10px;
    column-gap: 10px;
}
.item{
   /* width: 100px;
    height: 50px;*/
    background-color: greenyellow;
    border:2px solid black;
    text-align: center;
}