 .card{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 4px 8px black;
    transition: 1s;
 }
 .desc{
   padding: 10px;
 }

 img{
   width: 100px;
   height: 100px;
   padding-left: 40px;
 }
.card:hover{
   box-shadow: 2px 8px 16px black;
}